body {
	background: #00C978;
	color: white;
}

.rav-name {
	padding-top: 10px;
	font-size: 55px;
	font-weight: 300;
}

.rav-about-nick {
	padding-top: 10px;
	font-size: 20px;
	font-weight: 200;
}

.rav-about {
	padding-top: 10px;
	font-size: 23px;
	font-weight: 200;
}


.links{
	padding-top: 20px;
	font-size: 23px;
	font-weight: 200;
}

.about-me-link {
	font-size: 22px;
	font-weight: 200;
	color: white ! important;
	text-decoration: underline;
}

.link {
	font-size: 21px;
	font-weight: 200;
	color: white ! important;
}
